<div *ngIf="!session;else content">You dont have permission</div>

<ng-template #content>
  <h4>Trends</h4>

  <button mat-raised-button color="primary" routerLink="/trends/0">New</button>

  <mat-table #table [dataSource]="items">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" routerLink="/trends/{{element.id}}">Edit</button>
            <button mat-raised-button color="warn" (click)="delete(element.id)">Delete</button>
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <br/>
  <p>{{error}}</p>
</ng-template>